.navbar {
    background-color:indigo;
    text-align: center;
    width: 100%;
    display: inline-flex;
}

.uyeGiris{
    position: absolute;
    right: 15px;
    top: 16px;
    
}
.navbar h1{
    position: absolute;
    right: 50%;
    
}
.buton{
    height: 80px;
    width: 80px;
    top: 10px;
    color: black;
    

}

.logoImg{
    padding-left: 12px;
}