.body{
margin-top: 0%;
margin-left: 20%;
margin-right: 20%
}
.uyeEkranıContainer {
    margin-top: 10%;
    padding: 100px;
    background-color: powderblue;
    border: 5px solid black;
    display: none;

}
.kayit{
    padding: 85px;
    /*display: none;*/
}